/node_modules
/public/hot
/public/storage
/public/exports
/public/zoom.txt
/public/presentations
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/nova-components/*/node_modules